<app-navigation></app-navigation>
<div class="grid text-center">
    <div class="g-col-8 g-col-md-6"><h2>NeST DIGITAL CORPORATE OFFICE</h2>
        Plot No. 2, Cochin Special Economic Zone
        (CSEZ), Kakkanad, Cochin – 682 037, India
        Phone: +91-484-661 4300</div>
    <div class="g-col-8 g-col-md-6"><h2>BUSINESS RELATED ENQUIRIES </h2>
        Email: sales.nestdigital@nestgroup.net
        
        Ph: +91-484-6701000, +91484-4203333</div>
        <div class="g-col-8 g-col-md-6"><h2>NeST DIGITAL DEVELOPMENT CENTERS</h2> 
            NeST Tech Park, NeST Valley,
        Near Infopark, Infopark P.O,
        Kakkanad, Kochi, Kerala,
        India – 682042
        Ph:+91484-4203333
           </div>
    
  </div>
